# Ignorar arquivos de ambiente virtual
venv/
env/
*.env
upload/
# Ignorar arquivos de cache
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos de log
*.log

# Ignorar pastas de dados
data/

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de banco de dados temporários
*.sqlite3

# Ignorar arquivos de dependências
*.egg-info/
dist/
build/
